name: Code Review

permissions:
  contents: read
  pull-requests: write
  models: read

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  test:
    runs-on: windows
    steps:
      - uses: anc95/ChatGPT-CodeReview@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

          USE_GITHUB_MODELS: false
          LOG_LEVEL: debug
          INCLUDE_PATTERNS: src/*,.github/**/*

          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          OPENAI_API_ENDPOINT: https://192.168.3.250:7896/v1
          MODEL: deepseek-r1:1.5b
          LANGUAGE: Chinese
          IGNORE_PATTERNS: /node_modules/**/*,*.md
